.App {
  text-align: center;
}

.App-logo {
  height: 13vw;
  pointer-events: none;
  margin-bottom: 2vw;
}

.Title-logo {
  height: 20rem;
  pointer-events: none;
  margin-bottom: 20px;
}

.Mini-logo {
  height: 3rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #ffffff;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.form {
  background-color: #FFFFFF;
  width: 30%;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3vw;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 28rem;
  max-width: 80%;
  height: 4rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 2rem;
  font-weight: 600;
  line-height: 4rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: rgb(249,250,251);
}

.button:focus {
  outline: 5px solid transparent;
  outline-offset: 5px;
}

.button:focus-visible {
  box-shadow: none;
}

.button + .button {
  margin-top: 20px;
}