/* CSS classes for admin dashboard related things */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.adminDashboard {
    display: flex;
    flex-direction: column;
}

.dashboardButton {
    display: block;
    color: #ffffff;
    width: 100%;
    max-width: 12rem;
    height: 12rem;
    margin: auto;
    flex-direction: column;
    border-radius: 20px;
}

.dashboardMenu {
    width: 450px;
    margin: auto;
    padding: 20px;
}

.MuiButton-contained {
    border-radius: 40px !important;
}

.dashboardIcons {
    transform: scale(2.5);
    padding: 20px;
}

.clockContainer {
    font-weight: 600;
    font-size: 1.5em;
    height: 140px;
    width: 400px;
    border-radius: 25px; 
    background: linear-gradient(#292E64, #740014);
    color: white;
    margin: auto;
    padding-top: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.clockDateText {
    font-size:0.7em; 
    font-weight: 400; 
    margin: 0px; 
    padding-bottom: 10px;
    font-family: Montserrat, sans-serif;
}

.clockTimeText {
    font-size: 2em;
    margin: 0px;
    font-family: Montserrat, sans-serif;
}

h1 {
    font-family: Montserrat, sans-serif;
    color: rgb(104, 99, 124);
    font-weight: 600;
}
