.adminExamSession {
  width: 100%;
  height: 100%;
}

#remoteContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 80vh;
  background-color: rgb(76, 66, 66);
  padding-right: 20px;
  padding-left: 20px;
  /* width: 640px;
  height: 480px; */
}

.videoContainer {
  padding: 5px;
  max-width: 20%;
  max-height: 26vh;
}

/* one item */
.videoContainer:first-child:nth-last-child(1) {
  max-width: 100%;
  max-height: 100%;
  width: 90%;
  height: 90%;
}

/* two items */
.videoContainer:first-child:nth-last-child(2),
.videoContainer:first-child:nth-last-child(2) ~ .videoContainer {
  max-width: 50%;
  max-height: 100%;
  width: 49%;
  height: 90%;
}

/* three items */
div.videoContainer:first-child:nth-last-child(3),
.videoContainer:first-child:nth-last-child(3) ~ .videoContainer {
  max-width: 30%;
  max-height: 20%;
  width: 49%;
  height: 90%;
}

/* four items */
.videoContainer:first-child:nth-last-child(4),
.videoContainer:first-child:nth-last-child(4) ~ .videoContainer {
  max-width: 50%;
  max-height: 40vh;
  width: 49%;
  height: 90%;
}

/* five items */
.videoContainer:first-child:nth-last-child(5),
.videoContainer:first-child:nth-last-child(5) ~ .videoContainer {
  max-width: 30%;
  max-height: 40vh;
  width: 49%;
  height: 90%;
}

/* six items */
.videoContainer:first-child:nth-last-child(6),
.videoContainer:first-child:nth-last-child(6) ~ .videoContainer {
  max-width: 30%;
  max-height: 40vh;
  width: 49%;
  height: 90%;
}

/* seven items */
.videoContainer:first-child:nth-last-child(7),
.videoContainer:first-child:nth-last-child(7) ~ .videoContainer {
  max-width: 24%;
  max-height: 40vh;
  width: 49%;
  height: 90%;
}

/* eight items */
.videoContainer:first-child:nth-last-child(8),
.videoContainer:first-child:nth-last-child(8) ~ .videoContainer {
  max-width: 24%;
  max-height: 40vh;
  width: 49%;
  height: 90%;
}

/* nine items */
.videoContainer:first-child:nth-last-child(9),
.videoContainer:first-child:nth-last-child(9) ~ .videoContainer {
  max-width: 30%;
  max-height: 26vh;
  width: 49%;
  height: 90%;
}