.help-centre-header {
  margin-bottom: 3rem;
  background-color: #dfdfe4;
  min-height: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 2px;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.searchBox {
    background-color: white;
    width: 20rem;
    margin-bottom: 5rem;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.text {
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 40px;
}

.helpDashboardButton {
    display: block;
    color: #ffffff;
    width: 100%;
    max-width: 20rem;
    height: 11rem;
    margin: auto;
    flex-direction: column;
    border-radius: 20px;
    justify-content: top;
}

.helpDashboardIcons {
    transform: scale(3);
    padding: 30px;
}

.help-dashboard {
    width: 50rem;
    margin: auto;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtext {
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
}

.back-link {
    text-decoration: none;
    color: #363737;
    font-weight: bold;
    font-size: 22px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.back-link:hover {
    color: #0056b3;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}