/*login related css classes*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.form {
    width: 35rem;
    max-width: 50vw;
    margin: 12px 10px;
    height: 4rem;
    border-radius: 20px;
    font-size: 25px;
    color: black;
    padding: 1%;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 1%;
}

.green-border {
    width: 35rem;
    max-width: 50vw;
    height: 4rem;
    border-radius: 20px;
    font-size: 25px;
    background-color: rgb(165, 245, 165);
    color: black;
    padding: 1%;
    font-family: Montserrat, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    outline: none;
    padding-left: 1%;
}

.red-border {
    width: 35rem;
    max-width: 50vw;
    height: 4rem;
    border-radius: 20px;
    font-size: 25px;
    background-color: rgb(253, 151, 151);
    color: black;
    padding: 1%;
    font-family: Montserrat, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    outline: none;
    padding-left: 1%;
}

.button-grey-out {
    background-color: #e0e4e4;
    color: rgb(74, 72, 72);
    border-radius: 20px;
    width: 35rem;
    max-width: 50%;
    height: 4rem;
    font-size: 25px;
    margin: 10px, 12px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
}

.button-grey-out:hover {
    background-color: #ced1d1;
}

.login-checkbox {
    font-size: 20px;
    margin-top: 15px;
    color: rgb(74, 72, 72);
    font-family: Montserrat, sans-serif;
}

.sign-in-header {
    margin-bottom: 3vw;
    background-color: #dfdfe4;
    min-height: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 2px;
    font-family: Montserrat, sans-serif;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}
  
.done-icon {
    position: absolute; /* Adjust the right value as needed */
    top: 35%;
    transform: translateY(-50%);
    color: green; /* Change the color of the icon */
    transform: scale(2);
    right: -5%;
}

.fail-icon {
    position: absolute; /* Adjust the right value as needed */
    top: 35%;
    transform: translateY(-50%);
    color: red; /* Change the color of the icon */
    transform: scale(2);
    right: -5%;
}