/*CSS classes for student view related things */
  .parent {
    /*border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem; */
    text-align: center;
  }
  .child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    
  }

  .student-button {
    background-color: rgb(85, 89, 130);
    width: 30%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button-container-student {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
  }