/*CSS classes for student view related things */
  .student-button {
    background-color: rgb(85, 89, 130);
    width: 30%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1rem;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .student-button:hover {
    background-color: #f44336;
    color: white;
  }

  .button-container-student {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
  }

  .pageCardPadding {
    padding-left: 40px;
    padding-right: 40px;
}

.student-heading {
  font-family: Montserrat, sans-serif;
  font-size: 35px;
  text-align: center;
  color: rgb(104, 99, 124);
  font-weight: 600;
}

.student-header
{
  margin-bottom: 1.5vw;
  background-color: #dfdfe4;
  height: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px;

}