.info-dump {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 10%;
    margin-right: 10%;
  }
  
ul {
    width: 50%;
    margin: auto;
    font-weight: bold;
    text-align: left;
}
  