/* #videoContainer {
    background-color: lightcoral;
    width: 640px;
    height: 480px;
    border: black 1px solid;
  } */

  /* #remoteContainer {
    background-color: lightcoral;
    width: 640px;
    height: 480px;
    border: black 1px solid;
   } */